<% content_for :title, "Editing road" %>

<h1>Editing road</h1>

<%= render "form", api_v1_road: @api_v1_road %>

<br>

<div>
  <%= link_to "Show this road", @api_v1_road %> |
  <%= link_to "Back to roads", api_v1_roads_path %>
</div>
