<% content_for :title, "New road type" %>

<h1>New road type</h1>

<%= render "form", api_v1_road_type: @api_v1_road_type %>

<br>

<div>
  <%= link_to "Back to road types", api_v1_road_types_path %>
</div>
