<% content_for :title, "New zone type" %>

<h1>New zone type</h1>

<%= render "form", api_v1_zone_type: @api_v1_zone_type %>

<br>

<div>
  <%= link_to "Back to zone types", api_v1_zone_types_path %>
</div>
