<%= form_with(model: api_v1_monitoring) do |form| %>
  <% if api_v1_monitoring.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api_v1_monitoring.errors.count, "error") %> prohibited this api_v1_monitoring from being saved:</h2>

      <ul>
        <% api_v1_monitoring.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
