<p style="color: green"><%= notice %></p>

<% content_for :title, "Monitorings" %>

<h1>Monitorings</h1>

<div id="api_v1_monitorings">
  <% @api_v1_monitorings.each do |api_v1_monitoring| %>
    <%= render api_v1_monitoring %>
    <p>
      <%= link_to "Show this monitoring", api_v1_monitoring %>
    </p>
  <% end %>
</div>

<%= link_to "New monitoring", new_api_v1_monitoring_path %>
